@mixin noteText() {
  &--text {
    padding: 10px;
    font-size: 12px;
    width: 100%;
    &:empty {
      &::before {
        color: rgba(0, 0, 0, 0.75);
        content: "Escribe tus notas...";
      }
    }
  }
}
